# language: haskell

env:
 - GHCVER=8.0.2
 - GHCVER=8.2.2
 - GHCVER=8.4.4
 - GHCVER=8.6.3
 - GHCVER=8.8.1

before_install:
 - sudo add-apt-repository -y ppa:hvr/ghc
 - sudo apt-get update
 - sudo apt-get install cabal-install-3.0 ghc-$GHCVER
 - export PATH=/opt/cabal/bin:/opt/ghc/$GHCVER/bin:$PATH

install:
 - cabal-3.0 update

script:
 - cabal-3.0 configure --enable-tests
 - cabal-3.0 build
 - cabal-3.0 test --test-show-details=streaming
 - cabal-3.0 haddock
 - cabal-3.0 sdist


